<script setup>
import { RouterLink, RouterView } from 'vue-router'

</script>

<template>
  <div class="flex flex-col w-full items-center justify-center md:px-8 px-4 ">
    <div class="my-5 text-xl font-bold">
      PUZZLE GAME
    </div>
    <div class="flex items-center justify-center h-12 w-full sm:w-1/2 gap-4 mb-3">
      <input v-model="row" :readonly="gameStarted || userWin" type="number" class="w-full h-12 border border-black px-4 rounded" placeholder="Insert Row" >
      <button class="px-4 text-sm  w-full text-white bg-blue-500 cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed h-12 rounded" :disabled="disabelBtn || gameStarted" @click="initPuzzleValues">
         Start Game
      </button>

    </div>
    <div class="text-white bg-green-500 h-16  w-full sm:w-1/2 mx-auto flex items-center justify-center rounded" v-if="gameStarted && userWin">
   You Are Win - Swipe Count  :  {{swipeCount}}
    </div>
    <button  @click="restartGame" class="text-white bg-teal-500 h-12 px-12 mx-auto flex items-center justify-center rounded mt-4" v-if="userWin || gameStarted">
   Restart Game
    </button>
    <div class="text-black bg-blue-400 h-16  w-full sm:w-1/2 text-center px-2 mx-auto flex items-center justify-center rounded" v-if="!gameStarted">
      Please Insert Row (must be more than 2)
    </div>
    <div class="my-2 text-lg" v-if="gameStarted && !userWin">
      Swipe Count : {{swipeCount}}
    </div>
    <div class="flex w-full items-center justify-center px-2 m-4 mb-24" >
      <div class="flex flex-row flex-wrap" ref="board" @click="boardClick($event)">
      </div>
    </div>
  </div>
</template>
<script>

import {randomArray ,shuffleArray,createTile} from "../utils/utils";
  export default {
    data(){
      return{
        boardSize : '',
        board : '',
        tileCount : 0,
        row :'',
        tiles:[],
        shuffleTiles:[],
        puzzleTiles:[],
        items:[],
        gameStarted:false,
        userWin:false,
        swipeCount:0
      }
    },
    computed:{
      disabelBtn(){
        if(!this.row || this.row < 3){
          return true
        }else {
          return false
        }
      },
    },
    methods:{
      restartGame(){
        this.userWin = false,
        this.gameStarted = false,
        this.tileCount = 0,
        this.tiles = []
        this.shuffleTiles = false
        this.row = ''
        this.boardSize = ''  ,
        this.board.innerHTML = '',
        this.swipeCount = 0
      },
      initPuzzleValues(){
        this.board = this.$refs['board']
        this.tileCount = this.row ** 2
        const tempArr = [ ...Array(this.tileCount - 1).keys() ].map( i => i+1);
        this.tiles = tempArr
        this.shuffleTiles = shuffleArray(this.tiles)
        this.puzzleTiles =  this.shuffleTiles
        this.createPuzzle()
      },
      createPuzzle(){
        for (let i = 1; i < this.tileCount; i++) {
          const shufflePosition = randomArray(this.shuffleTiles)
          this.board.appendChild(createTile(shufflePosition,i))
        }
        this.board.appendChild(createTile((this.tileCount ),(this.tileCount)  , 'empty' ))
        this.emptyPosition = this.tileCount
        const emptyEl = document.querySelector(`[data-position="${this.emptyPosition}"]`)
        this.emptyPosition = this.getAttrEl(emptyEl , 'position')
        this.emptyNumber = this.getAttrEl(emptyEl , 'id')
        this.setTileStyle()
        this.gameStart()
      },
      gameStart(){
        this.gameStarted = true
        this.userWin = false
      },
      setTileStyle(){
        const i_w = window.innerWidth
        if( i_w > 700){
          if(this.row <=6){
            this.board.style.width = `${550 - 32}px`
          }else{
            this.board.style.width = `${1000 - 32}px`
          }
        }else{
          this.board.style.width = `${window.innerWidth - 32}px`
        }
        this.boardSize = this.board.getBoundingClientRect().width
        const width = this.boardSize / this.row
        Array.from(this.board.children).forEach(item=>{
          if(width < 30){
            item.classList.add('text-xs')
          }
          item.style.width = `${width}px`
          item.style.height = `${width}px`
        })
      },
      tileClicked(clickedPosition , tile){
         if(clickedPosition < 1 || clickedPosition > this.tileCount){
           return;
         }
         const arr = [
           (this.emptyPosition + 1),
           (this.emptyPosition - 1),
           (this.emptyPosition - this.row),
           (this.emptyPosition + this.row),
         ]
         if(arr.includes(clickedPosition)){
           this.swipeTile(clickedPosition , tile)
         }
      },
      getAttrEl(el , value){
        return +el.getAttribute(`data-${value}`)
      },
      swipeTile(index , tile){
        this.swipeCount++
        const currentTile = document.querySelector(`[data-position="${this.emptyPosition}"]`)
        const currentTileText = currentTile.innerHTML;
        currentTile.classList.remove('empty');
        currentTile.innerHTML = tile.innerHTML;
        tile.innerHTML = currentTileText;
        tile.classList.add("empty");
        this.emptyPosition = index;
        this.checkUserWon()
      },
      boardClick(event){
        if(this.gameStarted && !this.userWin){
          const tilePos = this.getAttrEl(event.target , 'position')
          this.tileClicked(tilePos , event.target)
        }
      },
      checkUserWon(){
        if(this.gameStarted){
          for (let i = 1; i <= this.tileCount; i++) {
            const currentTile = document.querySelector(`[data-id="${i}"]`)
            const currentTileIndex = this.getAttrEl(currentTile , 'position')
            const currentTileValue = currentTile.innerHTML
            if (currentTileIndex != currentTileValue) {
              this.userWin = false
              return false;
            }
          }
          Array.from(this.board.children).forEach(item=>{
            if(!item.classList.contains('empty')){
              item.classList.add('success')
            }
          })
          this.userWin = true
          return true;
        }
        this.userWin = false
        return false
      }
    }
  }
</script>

<style scoped>

</style>
